<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.galchat.mapper.WorldStoryEventMapper">

    <delete id="deleteByUserWorldIdWithCharacters">
        WITH deleted_story_events AS (
            DELETE FROM world_story_event
            WHERE user_world_id = #{userWorldId}
            RETURNING id
        )
        DELETE FROM world_story_event_character
        WHERE story_event_id IN (
            SELECT id
            FROM deleted_story_events
        )
    </delete>
</mapper>
